In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark=SparkSession.builder\
    .appName("Cleaning")\
    .master("local[*]")\
    .getOrCreate()

In [4]:
# Define the file path
file_path = "D:/OneDrive/Venkat.My_projects/manju_task/Cleaned_Dataset/part-00000-599853f5-ad8e-490e-a389-34a8782609f0-c000/part-00000-599853f5-ad8e-490e-a389-34a8782609f0-c000.csv"

df = spark.read.option("header", True).option("inferSchema", True).csv(file_path)

# Display contents
df.show(5)
df.printSchema()

+-------+---------------+---------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
|trip_id|      starttime|       stoptime|bikeid|tripduration|from_station_id|   from_station_name|to_station_id|     to_station_name|  usertype|gender|birthyear|
+-------+---------------+---------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
|2354845|6/30/2014 20:36|6/30/2014 20:48|  2083|         679|            212|Wells St & Hubbar...|          301|Clark St & Schill...|Subscriber|  Male|     1993|
|2354683|6/30/2014 19:17|6/30/2014 19:31|  1735|         820|            144|Larrabee St & Web...|          229|Southport Ave & R...|Subscriber|  Male|     1985|
|2354680|6/30/2014 19:16|6/30/2014 19:25|  1282|         524|            100|Orleans St & Merc...|           92|Carpenter St & Hu...|Subscriber|  Male|     1984|
|2354660|6/30/2014 19:15|6/30/2014 19:18|  2557|         168|            130|Damen Ave & Divis...|          210|Ashland Ave & Div...|Subscriber|  Male|     1985|
|2354599|6/30/2014 19:08|6/30/2014 19:14|  1546|         333|            300|Broadway & Barry Ave|          117|Wilton Ave & Belm...|Subscriber|Female|     1987|
+-------+---------------+---------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
only showing top 5 rows

root
 |-- trip_id: integer (nullable = true)
 |-- starttime: string (nullable = true)
 |-- stoptime: string (nullable = true)
 |-- bikeid: integer (nullable = true)
 |-- tripduration: integer (nullable = true)
 |-- from_station_id: integer (nullable = true)
 |-- from_station_name: string (nullable = true)
 |-- to_station_id: integer (nullable = true)
 |-- to_station_name: string (nullable = true)
 |-- usertype: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- birthyear: integer (nullable = true)

In [7]:
df_filtered = df.filter(col("birthyear") <2000)
df_filtered.show()

+-------+---------------+---------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
|trip_id|      starttime|       stoptime|bikeid|tripduration|from_station_id|   from_station_name|to_station_id|     to_station_name|  usertype|gender|birthyear|
+-------+---------------+---------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
|2354845|6/30/2014 20:36|6/30/2014 20:48|  2083|         679|            212|Wells St & Hubbar...|          301|Clark St & Schill...|Subscriber|  Male|     1993|
|2354683|6/30/2014 19:17|6/30/2014 19:31|  1735|         820|            144|Larrabee St & Web...|          229|Southport Ave & R...|Subscriber|  Male|     1985|
|2354680|6/30/2014 19:16|6/30/2014 19:25|  1282|         524|            100|Orleans St & Merc...|           92|Carpenter St & Hu...|Subscriber|  Male|     1984|
|2354660|6/30/2014 19:15|6/30/2014 19:18|  2557|         168|            130|Damen Ave & Divis...|          210|Ashland Ave & Div...|Subscriber|  Male|     1985|
|2354599|6/30/2014 19:08|6/30/2014 19:14|  1546|         333|            300|Broadway & Barry Ave|          117|Wilton Ave & Belm...|Subscriber|Female|     1987|
|2354313|6/30/2014 18:42|6/30/2014 19:07|   340|        1467|            246|Ashland Ave & Bel...|          177| Theater on the Lake|Subscriber|  Male|     1980|
|2354022|6/30/2014 18:26|6/30/2014 18:30|  1045|         244|            177| Theater on the Lake|          324|Stockton Dr & Wri...|Subscriber|  Male|     1988|
|2354000|6/30/2014 18:25|6/30/2014 18:55|  2666|        1832|             90|     Millennium Park|          114|Sheffield Ave & A...|Subscriber|  Male|     1985|
|2353485|6/30/2014 17:59|6/30/2014 18:03|   770|         262|            298|Lincoln Ave & Bel...|          316|Damen Ave & Sunny...|Subscriber|Female|     1984|
|2352996|6/30/2014 17:40|6/30/2014 17:47|    99|         408|             91|Clinton St & Wash...|           43|Michigan Ave & Wa...|Subscriber|  Male|     1990|
|2352966|6/30/2014 17:40|6/30/2014 18:04|   208|        1426|            116|Western Ave & Win...|           69|Damen Ave & Pierc...|Subscriber|  Male|     1983|
|2352789|6/30/2014 17:34|6/30/2014 18:00|   329|        1575|             51|Clark St & Randol...|          309|Leavitt St & Armi...|Subscriber|  Male|     1982|
|2352247|6/30/2014 17:15|6/30/2014 17:25|  2075|         644|             94|Clark St & Armita...|          220|Hampden Ct & Dive...|Subscriber|Female|     1984|
|2351939|6/30/2014 17:06|6/30/2014 17:31|  1348|        1476|            211|St Clair St & Eri...|           97|       Museum Campus|Subscriber|Female|     1989|
|2351815|6/30/2014 17:02|6/30/2014 17:14|  2599|         672|            268|Lake Shore Dr & N...|          157|Lake Shore Dr & W...|Subscriber|  Male|     1981|
|2351659|6/30/2014 16:57|6/30/2014 17:17|  2937|        1174|             25|Michigan Ave & Pe...|          255|Indiana Ave & Roo...|Subscriber|  Male|     1975|
|2351613|6/30/2014 16:56|6/30/2014 17:22|   736|        1515|             77|Clinton St & Madi...|          152|Lincoln Ave & Div...|Subscriber|  Male|     1954|
|2351505|6/30/2014 16:53|6/30/2014 16:56|  2074|         168|            100|Orleans St & Merc...|           51|Clark St & Randol...|Subscriber|  Male|     1955|
|2350868|6/30/2014 16:25|6/30/2014 16:38|  2289|         810|            173|Mies van der Rohe...|          192| Canal St & Adams St|Subscriber|  Male|     1966|
|2350535|6/30/2014 16:04|6/30/2014 16:08|   638|         232|            314|Ravenswood Ave & ...|          234|Clark St & Montro...|Subscriber|Female|     1985|
+-------+---------------+---------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
only showing top 20 rows

In [11]:
# Filter: trips longer than 30 minutes
long_trips = df.filter(col("tripduration") > 1800)
print(long_trips.show())
# Filter: trips by male users only
male_users = df.filter(col("gender") == "Male")

# Filter: users born after 1990
young_users = df.filter(col("birthyear") > 1990)

# Filter: subscribers only
Male = df.filter(col("usertype") == "Male")

+-------+---------------+---------------+------+------------+---------------+--------------------+-------------+--------------------+----------+-------+---------+
|trip_id|      starttime|       stoptime|bikeid|tripduration|from_station_id|   from_station_name|to_station_id|     to_station_name|  usertype| gender|birthyear|
+-------+---------------+---------------+------+------------+---------------+--------------------+-------------+--------------------+----------+-------+---------+
|2354000|6/30/2014 18:25|6/30/2014 18:55|  2666|        1832|             90|     Millennium Park|          114|Sheffield Ave & A...|Subscriber|   Male|     1985|
|2350282|6/30/2014 15:47|6/30/2014 16:19|  2773|        1953|            248|Woodlawn Ave & 55...|          328| Ellis Ave & 58th St|  Customer|Unknown|        0|
|2348932|6/30/2014 13:59|6/30/2014 14:38|  1229|        2348|            195|Columbus Dr & Ran...|           34|Cannon Dr & Fulle...|  Customer|Unknown|        0|
|2347593|6/30/2014 12:06|6/30/2014 12:44|  2854|        2243|             97|       Museum Campus|          247|Shore Drive & 55t...|  Customer|Unknown|        0|
|2343484| 6/30/2014 7:04| 6/30/2014 7:38|  2688|        2017|            141|Clark St & Lincol...|           68|Clinton St & Tild...|Subscriber| Female|     1988|
|2340775|6/29/2014 20:08|6/29/2014 20:50|   285|        2555|            324|Stockton Dr & Wri...|           69|Damen Ave & Pierc...|  Customer|Unknown|        0|
|2340584|6/29/2014 19:57|6/29/2014 21:14|  2527|        4659|             46|Wells St & Walton St|           46|Wells St & Walton St|  Customer|Unknown|        0|
|2340108|6/29/2014 19:30|6/29/2014 20:01|  2783|        1850|             47|State St & Kinzie St|          194|State St & Wacker Dr|  Customer|Unknown|        0|
|2339497|6/29/2014 18:55|6/29/2014 19:48|  1242|        3150|            247|Shore Drive & 55t...|           76|Lake Shore Dr & M...|  Customer|Unknown|        0|
|2339413|6/29/2014 18:52|6/29/2014 19:47|  1627|        3317|            340|Clark St & Wright...|          264|Stetson Ave & Sou...|  Customer|Unknown|        0|
|2338096|6/29/2014 17:44|6/29/2014 18:30|    72|        2769|            143|Sedgwick St & Web...|          192| Canal St & Adams St|  Customer|Unknown|        0|
|2337154|6/29/2014 17:00|6/29/2014 17:35|  1315|        2101|            232|Pine Grove Ave & ...|          316|Damen Ave & Sunny...|  Customer|Unknown|        0|
|2336517|6/29/2014 16:34|6/29/2014 18:44|  1195|        7832|             35|Streeter Dr & Ill...|           97|       Museum Campus|  Customer|Unknown|        0|
|2336392|6/29/2014 16:29|6/29/2014 18:39|   900|        7772|             13|Wilton Ave & Dive...|           13|Wilton Ave & Dive...|  Customer|Unknown|        0|
|2333015|6/29/2014 14:24|6/29/2014 15:00|  1134|        2118|            177| Theater on the Lake|           24|Fairbanks Ct & Gr...|  Customer|Unknown|        0|
|2332928|6/29/2014 14:21|6/29/2014 14:54|  2372|        1958|            199|Wabash Ave & Gran...|          130|Damen Ave & Divis...|  Customer|Unknown|        0|
|2325989| 6/29/2014 8:36| 6/29/2014 9:07|  2226|        1822|            341|   Adler Planetarium|           76|Lake Shore Dr & M...|  Customer|Unknown|        0|
|2325180| 6/29/2014 1:48| 6/29/2014 2:24|   582|        2127|            177| Theater on the Lake|           93|Sheffield Ave & W...|  Customer|Unknown|        0|
|2325050| 6/29/2014 1:04| 6/29/2014 1:35|  1482|        1822|            173|Mies van der Rohe...|          173|Mies van der Rohe...|  Customer|Unknown|        0|
|2323251|6/28/2014 21:03|6/28/2014 21:33|  1975|        1803|            198|Halsted St & Madi...|           26|McClurg Ct & Illi...|  Customer|Unknown|        0|
+-------+---------------+---------------+------+------------+---------------+--------------------+-------------+--------------------+----------+-------+---------+
only showing top 20 rows

None

In [13]:
# Average trip duration by gender
avg_trip_by_gender = df.groupBy("gender").agg(avg("tripduration").alias("avg_trip_duration"))

# Count of trips by usertype
trip_count_by_usertype = df.groupBy("usertype").agg(count("*").alias("trip_count"))

# Max and Min trip durations
max_min_trip = df.agg(
    max("tripduration").alias("max_duration"),
    min("tripduration").alias("min_duration")
)

# Number of trips from each station
from_station_trips = df.groupBy("from_station_name").count().orderBy("count", ascending=False)

# Average trip duration per year of birth
avg_trip_by_birthyear = df.groupBy("birthyear").agg(avg("tripduration").alias("avg_trip_duration")).orderBy("birthyear")
print(avg_trip_by_gender.show())
print(trip_count_by_usertype.show())
print(max_min_trip.show())
print(from_station_trips.show())
print(avg_trip_by_birthyear.show())

+-------+-----------------+
| gender|avg_trip_duration|
+-------+-----------------+
| Female|863.1073559966403|
|Unknown|1714.893411926553|
|   Male|694.0347427684115|
+-------+-----------------+

None
+----------+----------+
|  usertype|trip_count|
+----------+----------+
|Subscriber|    591711|
|  Customer|    313988|
+----------+----------+

None
+------------+------------+
|max_duration|min_duration|
+------------+------------+
|       86245|          60|
+------------+------------+

None
+--------------------+-----+
|   from_station_name|count|
+--------------------+-----+
|Streeter Dr & Ill...|19512|
|Lake Shore Dr & M...|15778|
| Theater on the Lake|15100|
|Clinton St & Wash...|14323|
|Michigan Ave & Oa...|13030|
|     Millennium Park|12156|
| Canal St & Adams St|11264|
|Canal St & Madiso...|11020|
|Lake Shore Dr & N...|10489|
|       Museum Campus| 9884|
|Columbus Dr & Ran...| 9293|
|Franklin St & Arc...| 9195|
|Dearborn St & Mon...| 8821|
|McClurg Ct & Illi...| 8703|
|Michigan Ave & Wa...| 8441|
|Michigan Ave & La...| 8224|
|LaSalle St & Jack...| 7714|
|Wabash Ave & Gran...| 7495|
|   Clark St & Elm St| 7467|
|Michigan Ave & Ja...| 7376|
+--------------------+-----+
only showing top 20 rows

None
+---------+------------------+
|birthyear| avg_trip_duration|
+---------+------------------+
|        0| 1714.982594266459|
|     1898| 731.4285714285714|
|     1899| 571.2222222222222|
|     1900| 673.4038461538462|
|     1906| 733.5840707964602|
|     1915|             344.0|
|     1920| 723.3478260869565|
|     1930| 829.6470588235294|
|     1931|            1034.2|
|     1935| 555.5714285714286|
|     1938| 850.6255144032922|
|     1939|1344.7071428571428|
|     1940| 526.7386363636364|
|     1941| 637.9926470588235|
|     1942| 712.5357142857143|
|     1943|1402.6315789473683|
|     1944| 876.2053789731051|
|     1945| 921.4328358208955|
|     1946| 703.3244755244755|
|     1947|1039.8013029315962|
+---------+------------------+
only showing top 20 rows

None